<div class="row">
  <div class="col-md-8">
    <h1>Bienvenid@</h1>
    <p><em>Seguimiento de ejercicios</em> es una herramienta diseñada para llevar un registro detallado de las rutinas de entrenamiento y el progreso en la actividad física. Con este sistema, los usuarios pueden crear planes de entrenamiento personalizados con diferentes ejercicios y establecer metas específicas.</p>
    <p>La importancia de utilizar un sistema de ejercicios es que permite a los usuarios tener un registro detallado y organizado de su entrenamiento, lo que les ayuda a mejorar su desempeño y alcanzar sus objetivos de manera más efectiva. Además, el seguimiento del progreso en el tiempo permite a los usuarios motivarse y mantenerse enfocados en sus metas a largo plazo.</p>
  </div>
  <div class="col-md-4">
    <img src="https://cdn3d.iconscout.com/3d/free/thumb/dumbbells-4392718-3640491.png" alt="">
    <img src="https://cdn3d.iconscout.com/3d/free/thumb/gym-bottle-4392715-3640488.png" alt="">
  </div>
  
</div>
