<div class="container mt-5">
  <h1 class="text-center mb-4">Registro rutina</h1>
  <form [formGroup]="rutinaForm" (ngSubmit)="crear()">
    <div class="form-group row">
      <label for="descripcion" class="col-sm-2 col-form-label">Descripción:</label>
      <div class="col-sm-4">
        <input validar type="text" id="descripcion" name="descripcion" placeholder="Descripción de la rutina" class="form-control" formControlName="descripcion">
      </div>
    </div>
    <div class="form-group row">
      <label for="objetivo" class="col-sm-2 col-form-label">Objetivo:</label>
      <div class="col-sm-4">
        <input validar type="text" id="objetivo" name="objetivo" placeholder="Objetivo de la rutina" class="form-control" formControlName="objetivo">
      </div>
    </div>
    <div class="alert alert-success alert-centered" *ngIf="esInformacionCorrecta===1" role="alert">
      Rutina registrada correctamente
    </div>
    <div class="alert alert-danger alert-centered" *ngIf="esInformacionCorrecta===0" role="alert">
      Datos incorrectos
    </div>
    <div class="form-group text-center">
      <button type="submit" class="btn btn-primary" id="btn-guardar-rutina">Guardar</button>
    </div>
  </form>
</div>
